<?xml version="1.0"?>
<!--
/**
 * MM Paymm 
 *
 *
 * @category     MM
 * @package      MM_Paymm 
 * @copyright    Copyright (c) 2015 MM (http://blog.meumagento.com.br/)
 * @author       MM (Thiago Caldeira de Lima)  
 * @version      Release: 0.1.0
 */
-->
<config>
    <tabs>
        <paymm translate="label" module="paymm">
            <label>MM Paymm</label>
            <sort_order>800</sort_order>
        </paymm>
    </tabs>
    <sections>
        <payment translate="label" module="payment">
            <groups>
                <paymm translate="label">
                    <label>MM Paymm</label>
                    <sort_order>670</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <enable_paymm_paymm translate="label">
                            <label>Enable MM Pay</label>
                            <frontend_type>select</frontend_type>
                            <config_path>payment/paymm_paymm/active</config_path>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enable_paymm_paymm>
                        
                        <expiration_day>
                            <label>Expiration Days</label>
                            <config_path>payment/paymm_paymm/expiration_day</config_path>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </expiration_day>
                    </fields>
                </paymm>
            </groups>
        </payment>
    </sections>
</config>